.card {
  margin-top: 1em;
  background-color: #090a0b;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #33353b;
  color: #a1a8b5;
  box-shadow: 0 8px 32px 0 rgba(34, 34, 49, 0.37);
  /* cursor: grab; */
  font-weight: 200;
}

.info {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px dashed #232628;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
}
